body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    background-image: url('assets/landing.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
}

ul{
    margin: 0px;
}
.smoke{
    background-color: white;
}
.black{
    background-color: cornflowerblue;
}
.emphasis{
    color: white;
}
.white{
    color: white;
}
.brand{
    color: white;
    background-color: cornflowerblue;
}
.appBar{  
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: white;
    position: fixed;
}

#m2{
    padding-left: 120;
    padding-right: 20;
}
.appBarItems {
    display: flex;
    list-style: none;
    align-items: center; 
}
.appBarItems a {
    font-size: small;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
.textButton {
    background:none;
    border:none;
    text-decoration: none;
    margin:0;
    padding:0;
    cursor: pointer;
}
.spacer {
    flex: auto;
}
.center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 40px;
    padding-top: 40px;
}
.wrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.justify{
    text-align: justify;
}

.floatinActionButton{
    display: flex;
    position: fixed;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 30px;
    right: 40px;
    background-color: cornflowerblue;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-shadow: -3px 3px 5px,5px #235baa5b;
    cursor: pointer;
}
#bordImage{
    width: 380px;
}
.ciruclarAvatr{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.big_box{
    width: 40%;
    border-radius: 10px;
}
.extraBig_box{
    width: 50%;
    border-radius: 10px;
}
.regular_box{
    width: 400px;
    border-radius: 10px;
}

.label_txt{
    color: gray;
    justify-self: start;
}
.card{
    background-color: white;
    box-shadow: -2px 2px 5px 5px rgb(231, 225, 225);
    width: 200px;
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
}
.bordCard{
    margin: 20px;
    width: 380px;
}

.sizedBox{
    height: 15px;
    width: 15px;
}
.miniSizedBox{
    height: 3px;
    width: 3px;
}
.bigSizedBox{
    height: 50px;
    width: 50px;
}
.extraSizedBox{
    height: 100px;
    width: 100px;
}

.popUp{
    width: 90%;
    height: 80%;
    background-color: whitesmoke;
    position: fixed;
    top: 10%;
    left: 5%;
    border-radius: 10px;
    box-shadow: 1px -1px 5px 5px cornflowerblue;
    overflow: scroll;
}
  
.customersBord{
    display: flex;
    height: 400px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.elevetedButton{
    background-color: #ffde16;
    color: black;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: -3px 3px 1px 1px rgba(226, 224, 224, 0.534);
}

#title{
    background:none;
    border:none;
    text-decoration: none;
    margin:0;
    padding:0;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 20px;
    color: #ffde16;
}

.big_txt{
    font-size: 30px;
    font-weight: 900;
}
.extraBig_txt{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 900;
}

#padLT{
    padding-left: 20px;
    padding-top: 20px;
}
#padTB{
    padding-top: 20px;
    padding-bottom: 20px;
}
#padLR{
    padding-left: 20px;
    padding-right: 20px;
}
#padL{
    padding-left: 20px;
    padding-top: 20px;
}

#padA{
    padding: 20px;
}
#padR{
    padding-right: 20px;
}
#padB{
    padding-bottom: 20px;
}
#padT{
    padding-top: 20px;
}


@media screen and (max-width: 680px) {
#title {
    display: none;
}

    .big_txt{
        font-size: 20px;
        font-weight: 900;
    }
    
    .extraBig_txt{
        font-size: 20px;
        font-weight: 900;
    }
    
    
    .big_box{
        width: 50%;
        border-radius: 10px;
    }
    .extraBig_box{
        width: 100%;
        border-radius: 10px;
    }
    .regular_box{
        width: 100%;
        border-radius: 0px;
        margin: -30vw 0 0 0;
    }
    .customersBord{
        height: 200px;
    }
    
#crop{
    height: 250px;
    overflow: hidden;
}
.bordCard{
    width: 250px;
}
#bordImage{
    width: 250px;
}

#m2{
    padding-left: 20;
    padding-right: 20;
}

}


